<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciá sesión</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="container-ls">
          <a href="/" class="logo">
              <img 
              src="images/logo-mercado-liebre.svg" 
              alt="Logo mercado liebreee">
          </a>
          <div class="search-bar">
              <input type="text" placeholder="Buscar productos, marcas">
              <button class="btn-search">
                  <i class="fas fa-search"></i>
              </button>
          </div>
          <p class="quota"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas de crédito</p>
        </div>
        <nav class="nav-inf">
            <ul id="top-list" class="list-left">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas </a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="list-right">
                <li><a href="./register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login">ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
            </ul> 
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    
    <div class="form-container">
        <form action="" class="form login-form">
            <h2 class="form-title">Iniciá sesión</h2>
            <div class="input-container">
                <input type="text" class="text input" placeholder="Email">
            </div>
            <div class="input-container">
                <input type="text" class="text input" placeholder="Contraseña">
            </div>
            <div class="button-container">
                <button type="submit">
                    <a href="/">Envíar</a>
                </button>
            </div>
        </form>
    </div>
</body>
</html>