/* Header */
nav {
    display: none;
}

header {
    background-color: var(--yellow);
    font-size: var(--paragraph);
    padding-bottom: 10px;
}

header .burger-menu {
    width: 15px;
    text-align: center;
    margin: 10px auto 0px;
}

header .burger-menu i{
    background-color: var(--light_blue);
    padding: 1.8rem;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 5px;
    color: white;
}

.container-ls {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
}

header .logo {
    padding: 1rem;
    padding-top: 25px;
    width: 45%;
}

header .logo img{
    min-height: 2rem;
    max-height: 8rem;
}


.search-bar {
    background-color: white;
    width: 45%;
    height: 3.5rem;
    position: relative;
    border-radius: 0.6rem;
}

.search-bar input{
    border-radius: 0.6rem;
    padding: 1rem;
    text-decoration: none;
    border-style: none;
    width: 100%;
}

.search-bar input:focus {
    outline: none;
}

.btn-search {
    position: absolute;
    right: 5px;
    top: 0.8rem;
    border-style: none;
}

.btn-search i {
    background-color: white;
    color: var(--dark-grey);
    cursor: pointer;
    font-size: 2rem;
}

/* search bar */

header .search-bar {
    display: inline-block;
}

/* quota */

header .quota {
    text-align: center;
    margin: 10px 0 20px;
}

/* Nav */

header nav ul#top-list {
    margin-bottom: 15px;
}


/* media queries */
/*  tablet */
@media (min-width: 480px) {
    header .burger-menu {
        display: none;
    }

    header .logo img {
        height: 4rem;
    }

    nav {
        display: block;
    }
    
    .nav-inf {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: space-between;
    }

    .nav-inf li a:hover {
        color: var(--light_blue);
    }

    .list-left {
        flex-grow: 0.28;
        gap: 1rem;
        display: flex;
        justify-content: space-evenly;
        padding-left: 1rem;
    }

    .list-left li{
        width: 25%;
    }

    .list-right {
        flex-grow: 0.18;
        gap: 1rem;
        display: flex;
        justify-content: space-evenly;
        padding-right: 1rem;
    }

}

/*  desktop */
@media (min-width: 769px) {
   /* header */
    header .burger-menu {
        display: none;
    }
    
    .container-ls {
        justify-content: space-between;
    }

    header .logo {
        padding: 1rem;
        padding-top: 25px;
        width: 25%;
    }
    
    header .logo img{
        height: 5rem;
        min-height: 2rem;
        max-height: 8rem;
    }

    header .search-bar {
        width: 40%;
    }

    .quota {
        width: 25%;
    }

    .nav-inf {
        width: 100%;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .list-right {      
        justify-content: space-between;
    }
}