

/* banner */
.home .banner {
    display: none;
}

/* Main */
main.home {
    margin: 0 auto;
    width: 90%;
}

/* section */
.home .section-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.4rem;
    color: var(--blue);
}

/* container principal */
.home .sales {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}


/* cards */
.home .card {
    background-color: white;
    margin-bottom: 10px;
    width: 27.4rem;
    cursor: pointer;
    transition: all 1s;
} 

.home .card .card-content {
    border-top: 1px solid var(--light-grey);
    padding: 15px;
    position: relative;
}

/* images */
.home .card img {
    width: 100%;
}

/* animacion del camion */
@keyframes girando {
    0% {

    }
    100% {
        transform: rotate(270deg);
        transition: 300ms;
    }
} 

/* camion */
.home .card .card-content .icon-truck {
    border: 1px solid var(--green);
    border-radius: 50%;
    width: fit-content;
    padding: 5px;
    position: absolute;
    top: -15px;
    right: 20px;
    font-size: 1.8rem;
}

.home .card .card-content .icon-truck i{
    color: var(--green);
    font-size: 16px;
}

.home .card .card-content .product-info i{
    color: var(--green);
    font-size: 16px;
}

.home .card .card-content .product-info {
    display: flex;
    gap: 1rem;
   /*  justify-content: space-between; */
}

.home .card .card-content .product-info :nth-child(1){
    flex-grow: 1;
    font-size: 1.8rem;
}   

.home .card .card-content .product-info :nth-child(2){
    color: var(--green);
    font-size: 1.6rem;
    flex-grow: 9;
}

.product-info h5{
    font-size: 1.6rem;
}

.home .card .card-content .product-name {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
}


/* media queries */
/*  desktop */
@media (min-width: 361px) {
    .home .sales {
        justify-content: space-evenly;
    }
    
    .home .card:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .home .card:hover .icon-truck{
        animation: girando 500ms 1;
    }

    .home .card:hover .card-content .product-name {
        height: 17px;
        margin-top: 15px;
    }
    
}

@media (min-width: 769px) {
    
}